@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth !important;
}

* {
    font-family: 'Roboto', sans-serif;
}

/* start the hero section style */
body {
    font-family: Urbanist, sans-serif;
    @apply bg-white dark:bg-gray-900
}

.navbar-active .hamburger div:first-child {
    @apply rotate-45 translate-y-1.5;
}

.navbar-active .hamburger div:last-child {
    @apply -rotate-45 -translate-y-1;
}

.navbar-active div:first-child div:first-child div:last-child {
    @apply block lg:flex
}
/* end the hero section style */

/* start the header section style */
#menu:checked~.menu-links {
    display: flex;
}
/* end the header section style */